body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contenedor_tarjetas {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor_tarjetas_eoc {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    width: 200px;
}
.box h2 {
    margin: 0;
    color: #333;
    font-size: 20px;
}
.number {
    font-size: 30px;
    margin-top: 10px;
    color: #007bff;
}